.env
.env.*
!.env.example
citizenphilsecrets.py

.git
.gitignore
.dockerignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.venv
venv

.idea
.vscode
*.swp
*.swo

doc
*.md
LICENSE

on.sh
off.sh
sparql-crawler.sh
